<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Total Actor</div>
            <div class="panel-body">
                <div class="col-md-10 col-md-push-1">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="(key, value) in actor[0]">
                                <td><strong>{{key}}</strong></td>
                                <td ng-repeat="item in actor">{{item[key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Total Movie</div>
            <div class="panel-body">
                <div class="col-md-10 col-md-push-1">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="(key, value) in movie[0]">
                                <td><strong>{{key}}</strong></td>
                                <td ng-repeat="item in movie">{{item[key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="carousel slide" data-ride="carousel">
	 Wrapper for slides
	<div class="carousel-inner">
	  <div ng-repeat="img in images track by $index" class="item">
		  <img style="width:100%;" ng-src="https://image.tmdb.org/t/p/w500{{img}}">
	  </div>
	</div>
</div>
-->

<!--<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
	  <div ng-repeat="img in images track by $index" class="item">
		  <img class="center-block" ng-src="https://image.tmdb.org/t/p/w500/{{img}}">
	  </div>
  </div>
</div>-->

<div class="owl-carousel owl-theme" style="height: 100px">
    <div ng-repeat="img in images track by $index" class="item" init-owl-carousel><img ng-src="https://image.tmdb.org/t/p/w500{{img}}" /></div>
</div>

<!--
<div class="panel panel-default">
    <div class="panel-heading">Native progress bars</div>
    <table class="table table-bordered">
        <tr>
            <td style="white-space:nowrap">Nemo enim ipsam</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width:3%"></div>
                </div>
            </td>
            <td>3%</td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Neque porro quisquam</td>
            <td style="width:100%">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width:9%"></div>
                </div>
            </td>
            <td>9%</td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Et quoniam inedia</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" style="width:12%"></div>
                </div>
            </td>
            <td>12%</td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Catoni anteponas</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" style="width:38%"></div>
                </div>
            </td>
            <td>38%</td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Haec dum oriens diu perferret</td>
            <td style="width:100%">
                <div class="progress">
                    <div class="progress-bar" style="width:47%"></div>
                </div>
            </td>
            <td>47%</td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Nam libero tempore</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" style="width:73%"></div>
                </div>
            </td>
            <td>73%</td>
        </tr>
    </table>
</div>
-->
